[Unit]
Description=sync local data to cloud with aliyun oss
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=
ExecStop=/bin/bash /home/culturecircle/systemconfig/awesomeshells/syncoss


[Install]
WantedBy=multi-user.target
